@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  @apply flex justify-center items-center;
}

.flex-flex {
  @apply flex flex-col md:flex-row;
}

.show {
  @apply border-2 border-red-600;
}

.show-bg {
  @apply bg-cyan-500;
}

@layer components {
  .wrapper {
    @apply max-w-5xl mx-auto w-[90%] md:w-[74%] 2xl:w-[90%];
  }
}

body,
html {
  overflow-x: hidden;
}

.first,
.second,
.third,
.fourth {
  position: relative;
}

.first::before,
.second::before,
.third::before,
.fourth::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
}

.second::before,
.third::before,
.fourth::before {
  border-left: 0px solid rgb(255, 119, 0);
}

.first::before {
  border-left: 2px solid rgb(255, 119, 0);
  animation: firstAnimate steps(12) 0.7s forwards 1.7s;
}

.second::before {
  animation: secondAnimate steps(12) 0.7s forwards 2.4s;
}

.third::before {
  animation: secondAnimate steps(12) 0.7s forwards 3.1s;
}

.fourth::before {
  animation: secondAnimate steps(12) 0.7s forwards 3.8s;
}

@keyframes firstAnimate {
  99% {
    left: 99%;
    height: 100%;
  }
  100% {
    left: 100%;
    height: 0%;
  }
}

@keyframes secondAnimate {
  1% {
    border-left: 2px solid rgb(255, 119, 0);
    left: 1%;
  }

  99% {
    left: 99%;
    height: 100%;
  }
  100% {
    left: 100%;
    height: 0%;
  }
}

.navbar {
  opacity: 0;
  animation: navbar 0.6s forwards 4.5s;
}

@keyframes navbar {
  0% {
    opacity: 0;
    transform: scale(0%);
  }

  100% {
    opacity: 100%;
    transform: scale(100%);
  }
}
